<!-- <!doctype html>
<html> -->
<head>
	<link rel = "stylesheet" type = "text/css" href = "static/css/homepage.css">
</head>

<body>

<!--     <p class = "links"><a href="http://localhost:8000/app/#/login.html">Log In</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="http://localhost:8000/app/#/signup.html">Sign Up</a></p> -->
<div ng-controller="HomepageCtrl">
	<button class="button button1">Group To Goal</button>
	<button class="button button2" ng-click="toLogin()">Login</button>
	<button class="button button3" ng-click="toSignup()">Sign up</button>
</div>

</body> 
<!-- </html> -->