

<div ng-controller="StudyNotesCtrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<section>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="getPosts(localUsername)">My Notes</a></li>
    <li role="presentation" class="dropdown" ng-class="{active:tab===2}">
      <a class="dropdown-toggle" data-toggle="dropdown" href role="button" aria-haspopup="true" aria-expanded="false">
        Others <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="user in groupMembers" ng-click="getPosts(user)"><a href>{{user}}</a></li>
      </ul>
    </li>
    <li role="presentation" ng-class="{active:tab===3}" style=""><a href ng-click="searchTab()">Search</a></li>
  </ul>
</section>

<div id="results">
  <div>
    <form ng-show="visible&&tab===1" class="form-group field" >
      <input required class="editable title form-control form-control-no-border" ng-model = "newPost.title" placeholder="Title">
    <textarea required ng-model="newPost.content" ui-tinymce="tinymceOptions"  class="editable form-control form-control-no-border" rows="20" placeholder="Write down your note...">
    </textarea>
      <p ng-bind="error"></p>
    </form>
    <button id="publish_button" ng-show="tab===1&&setId===false" class="btn myButton" ng-click="publish()">Publish</button>
    <div class="input-group" ng-show="tab===3" id="search_bar">
      <input type="text" ng-model="search_result.keyword" class="form-control" placeholder="Enter Keyword Here...">
      <span class="input-group-btn">
        <button ng-click="search()" class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div id="set_up_id" class="well" ng-show="setId===true&&tab===1">
    <p>Your study note has not been setup yet. Please set up!</p>
    <div class="input-group">
      <input type="text" ng-model="blog.url" class="form-control" placeholder="Enter Url Here...">
      <span class="input-group-btn">
        <button ng-click="save_id()" class="btn btn-secondary" type="button">Set!</button>
      </span>
    </div>
    <p class="error">{{set_id_error}}</p>
  </div>
  <div ng-repeat="post in blog.posts">
    <h3 ng-bind-html="post.title"></h3>
    <span ng-bind-html="post.author.displayname"></span>
    <span >{{post.published|date:'MM/dd/yyyy @ h:mma'}}</span>
    <p ng-bind-html="post.content"></p>
    <hr>
  </div>
  <p class="error">{{post_error}}</p>
</div>

  </div>
